.h
{
margin-top:2%;
align-items: center;
text-align: center;
font-family:Harlow Solid;
font-size:55;
text-shadow:5px 0px 12px #8b5afc;
color: #c0bfbf;
}
.h:hover
{
	text-shadow:5px 0px 12px #8800ff;	
}

.h2
{
font-family:Brush Script MT;
font-size:55;
text-shadow:5px 0px 12px #8b5afc;
color: #c0bfbf;
}
.h2:hover
{
	text-shadow:5px 0px 12px #8800ff;
}

.m
{margin: 20px;
align-items: center;
text-align: center;

}
.i
{
border:2px solid green;
margin:5;
box-shadow:5px 5px 5px #00ff00;	
}
.i:hover
{
	border:2px solid #8800ff;
	box-shadow:10px 10px 20px #8800ff;
}